


.ARF_entire-page {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.ARF_entire-page{
    width: 724px;
    justify-content: center;
    margin: auto;
}
.ARF_page-head{

}
h1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 26pt;
}

.ARF_s1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

p {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    margin: 0pt;
}

h3 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
}

h2 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 24pt;
}

.ARF_s2 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.ARF_s3 {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.ARF_s4 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.ARF_s5 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.ARF_s6 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.ARF_s7 {
    color: #231F20;
    font-family: Arial-BoldItalicMT, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.ARF_s8 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.ARF_s9 {
    color: #231F20;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

h4 {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

table, tbody {
    vertical-align: top;
    overflow: visible;
}

.ARF_head-text1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.ARF_head-text2 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
}

.ARF_head-text3 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 21pt;
}

.ARF_head-text4 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 26pt;
}

.ARF_page-head-grid {
    display: grid;
    grid-template-columns: auto auto ;
    /*grid-template-rows: 100px;*/
    /*color: #333333;*/
}
.page-head-grid > div {
    /*text-align: center;*/
    /*padding: 20px 0;*/
    /*font-size: 25px;*/
    /*background-color: #F8EDEB;*/
}
.ARF_bottom-space{
   margin-bottom: 100px;
}
.ARF_top-space{
    margin-bottom: 25px;
}
.ARF_header-body-space{
    margin-bottom: 8px;
}
table.ARF_form-table{
    border-collapse: collapse;
}
.ARF_blue-boxes{
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: #24418E;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.ARF_blue-boxes-top{
    border-top: 2px solid #24418E;
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: #24418E;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.ARF_blue-boxes-bottom{
    border-bottom: 2px solid #24418E;
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: #24418E;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.ARF_submit-button{
    text-align: center;
}
#Agency_Name, #Name_of_person_completing_the_report, #Title_of_person_completing_report, #Business_email,
#How_did_the_incident_occur_and_what_property_was_damaged, #HowDidIncidentOccur2, #HowDidIncidentOccur3, #NameOfLocation,
#StreetAddressIncidentLocation, #CityStateIncidentLocation, #LocationSpecify, #PrimaryLocation, #EstimateOfLoss, #ContactPersonFacility,
#ContactPersonEmail, #PersonResponsible, #PersonResponsibleName,
#PersonResponsibleStreetAddress, #WhatPoliceAgency, #PoliceReportNumber,
#WereCriminalCharges {
    width: 100%;
}
.ARF_endInput {
    padding-right: 15px;
}
.ARF_inputGrid {
    display: grid;
    grid-template-columns: auto auto;
}
.ARF_input-right {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    text-align: right;
}
.ARF_s3-right {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    text-align: right;
}
.ARF_s3-left {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    text-align: left;
}
.ARF_center-text{
    text-align: center;
}
.ARF_text-left{
    text-align: left;
    padding-left: 5px;
}
.ARF_Input{
    background-color: #E8E8E8;
    width: 100%;
}
.ARF_Input2{
    background-color: #E8E8E8;
}
.ARF_white-boxes-red-text{
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: white;
    color: red;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.ARF_inputGrid3 {
    display: grid;
    grid-template-columns: auto auto auto;
}
.ARF_inputGrid4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.ARF_s5-center {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 12pt;
    text-align: center;
}

