* {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.entire-page{
    width: 724px;
    justify-content: center;
    margin: auto;
}
.page-head{

}
h1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 26pt;
}

.s1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

p {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    margin: 0pt;
}

h3 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
}

h2 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 24pt;
}

.s2 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s3 {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s4 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s5 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 11pt;
}

.s6 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 8pt;
}

.s7 {
    color: #231F20;
    font-family: Arial-BoldItalicMT, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s8 {
    color: black;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.s9 {
    color: #231F20;
    font-family: "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

h4 {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

table, tbody {
    vertical-align: top;
    overflow: visible;
}

.head-text1 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.head-text2 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
}

.head-text3 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 21pt;
}

.head-text4 {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 26pt;
}

.page-head-grid {
    display: grid;
    grid-template-columns: auto auto ;
    /*grid-template-rows: 100px;*/
    /*color: #333333;*/
}
.page-head-grid > div {
    /*text-align: center;*/
    /*padding: 20px 0;*/
    /*font-size: 25px;*/
    /*background-color: #F8EDEB;*/
}
.bottom-space{
   margin-bottom: 100px;
}
.top-space{
    margin-bottom: 25px;
}
.header-body-space{
    margin-bottom: 8px;
}
table.form-table{
    border-collapse: collapse;
}
.blue-boxes{
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: #24418E;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.blue-boxes-top{
    border-top: 2px solid #24418E;
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: #24418E;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.blue-boxes-bottom{
    border-bottom: 2px solid #24418E;
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: #24418E;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.submit-button{
    text-align: center;
}
#Agency_Name2-1, #Name-2-3, #Title-2-3, #Business_email2-4,
#Incident_Occur2-5, #NameOfLocation2-6,
#StreetAddress2-7, #LocationSpecify, #PrimaryLocation,
#AgencyDriverLast2-11, #AgencyDriverFirst2-11,
#Address2-11, #Email2-11, #JobTitle2-11, #LocationVehicle2-13, #Area2-14, #Estimate2-15,
#TrailerArea2-16, #TrailerLocation2-16, #EstimatedRepair2-16, #PoliceAgency2-17,
#PoliceNumber2-17, #Details2-18, #LastNameBuisness2-19, #FirstNameBuisness2-19,
#Address2-19, #AreaDamage2-19, #PropertyDamage2-19, #AgeInjured2-19, #LocationTaken2-19,
#DescribeInjury2-19, #LastNameBuisness2-19-2, #FirstNameBuisness2-19-2,
#Address2-19-2, #PropertyDamage2-19-2, #AgeInjured2-19-2, #LocationTaken2-19-2,
#DescribeInjury2-19-2, #LocationVehicle2-19, #LocationVehicle2-19-2, #LastName2-20,
#FirstName2-20, #Address2-20, #Say2-20, #Where2-20, #AgencyStreet2-22, #OtherStreet2-22{
    width: 100%;
}
.endInput {
    padding-right: 15px;
}
.inputGrid {
    display: grid;
    grid-template-columns: auto auto;
}
.input-right {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    text-align: right;
}
.s3-right {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    text-align: right;
}
.s3-left {
    color: #231F20;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
    text-align: left;
}
.center-text{
    text-align: center;
}
.text-left{
    text-align: left;
    padding-left: 5px;
}
input {
    background-color: #E8E8E8;
}
.white-boxes-red-text{
    padding-top: 1pt;
    text-indent: 0pt;
    text-align: center;
    width: 14pt;
    background-color: white;
    color: red;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}
.inputGrid3 {
    display: grid;
    grid-template-columns: auto auto auto;
}
.inputGrid4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.s5-center {
    color: #FFF;
    font-family: Arial, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 12pt;
    text-align: center;
}
